nav {
  height: 15vh;
  width: 100%;
  background-image: linear-gradient(to left, #110436, #686f92);
  color: rgba(0, 0, 0, 0.877);
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 4px solid #000000;
}
.navitems img {
  height: 100px;
  width: auto;
  border: 4px solid #686f92;
  border-radius: 78px;
}

.navitems h2 {
  font-size: 30px;
  color: white;
}

.navitems button {
  width: 20%;
  height: 10vh;
  border: 2px solid transparent;
  background-color: #b38383ec;
  font-family: serif;
  font-size: 20px;
  margin: auto 0px;
  color: #fff;
  border-radius: 18px;
}

.fetchbtn:hover {
  background-color: rgb(8, 1, 1);
  border: 2px solid rgb(168, 56, 56);
  border-radius: 18px;
  cursor: pointer;
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-color:  #3c3c3c
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.name:hover {
  color: rgb(136, 138, 161);
}

.avatar {
  border-radius: 50%;
  border: 4px solid white;
  
}

.profile_cont {
  border-radius: 10%;
  background-image: linear-gradient(#110436, #686f92);
  margin: 10px;
  padding: 10px;
  width: 25%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.1);
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loader {
  height: 200px;
  width: auto;
  margin: auto;
}
.h2-left{
  text-align: left;
}
